<div class="text-center mt-5 p-5">
  <h1 class="mb-4">Our Products</h1>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.productName }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <i
              [routerLink]="['/products', product.id, 'edit']"
              class="fs-3 mx-2 text-info bi bi-pencil-square"
            ></i>
            <i
              [routerLink]="['/products', product.id]"
              class="fs-3 mx-2 text-warning bi bi-eye-fill"
            ></i>
            <i
              (click)="deleteProductHandler(product.id)"
              class="fs-3 mx-2 text-danger bi bi-trash3-fill"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
