*{
    padding:0;
    margin:0;
}

body{
    background-color: #EEE;
}

div{
    background-color: #aaa;
    padding:  20px;
    margin-bottom: 10px;
}

p{
    background-color: #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

button{
    background-color: rgb(19, 16, 102);
    color:#fff;
    display: block;
    border: none;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}


input[type='text']{
    display: block;
    border:none;
    padding: 5px;
    width: 200px;
    outline: 0;
    border:1px solid ccc;
    margin-bottom: 10px;
}

a{
    display: block;
    margin: 10px;
}

.myP{
    font-size: 25px;
}

.jsClass{
    background-color: rgb(17, 110, 79);
    padding: 20px;
    color:#eee
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}