<div class="container mt-5">
  <h1 class="mb-5 alert alert-dark text-center">
    {{ productId == 0 ? "Add New Product" : "Edit Product" }}
  </h1>

  <form (submit)="productHandler($event)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Product Name</label>
      <input
        type="text"
        name="productName"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter Product Name"
        [(ngModel)]="productData.name"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword5" class="form-label">Price</label>
      <input
        name="price"
        type="number"
        class="form-control"
        id="exampleInputPassword5"
        placeholder="Enter Price"
        [(ngModel)]="productData.price"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword6" class="form-label">Quantity</label>
      <input
        name="quantity"
        type="number"
        class="form-control"
        id="exampleInputPassword6"
        placeholder="Enter Quantity"
        [(ngModel)]="productData.quantity"
      />
    </div>

    <button type="submit" class="btn btn-outline-primary">
      {{ productId == 0 ? "Add New Product" : "Edit Product" }}
    </button>
  </form>
</div>
