<div class="container mt-5">
  <h1 class="mb-3 alert alert-dark text-center">
    {{ productId == 0 ? "Add New Product" : "Edit Product" }}
  </h1>

  <form (submit)="productHandler($event)" [formGroup]="productForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Product Name</label>
      <input
        type="text"
        name="productName"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter Product Name"
        formControlName="productName"
      />
      <ng-container *ngIf="getProductName.touched">
        <div
          *ngIf="getProductName.hasError('required')"
          id="emailHelp"
          class="form-text text-danger"
        >
          Product Name is Required
        </div>
        <div
          *ngIf="getProductName.hasError('minlength')"
          id="emailHelp"
          class="form-text text-danger"
        >
          Product Name length must be > 3
        </div>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword5" class="form-label">Price</label>
      <input
        name="price"
        type="number"
        class="form-control"
        id="exampleInputPassword5"
        placeholder="Enter Price"
        formControlName="price"
      />
      <ng-container *ngIf="getPrice.touched">
        <div
          *ngIf="getPrice.hasError('required')"
          id="emailHelp"
          class="form-text text-danger"
        >
          Price is Required
        </div>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword6" class="form-label">Quantity</label>
      <input
        name="quantity"
        type="number"
        class="form-control"
        id="exampleInputPassword6"
        placeholder="Enter Quantity"
        formControlName="quantity"
      />
      <ng-container *ngIf="getQuantity.touched">
        <div
          *ngIf="getQuantity.hasError('required')"
          id="emailHelp"
          class="form-text text-danger"
        >
          Quantity is Required
        </div>
      </ng-container>
    </div>
    <p>{{ productForm.value | json }}</p>

    <button type="submit" class="btn btn-outline-primary">
      {{ productId == 0 ? "Add New Product" : "Edit Product" }}
    </button>
  </form>
</div>
